* {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: orange;
    text-align: center;
    margin-bottom: 30px;
}
header .header-body {
    padding: 20px;
}
header .header-body p {
    font-family: 'Archivo Black', sans-serif;
}

.hidden {
    display: none!important;
}
.invisible {
    opacity: 0;
}
header p {
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.main .game-wrapper {
    margin: 30px auto;
}

/* Safari Area */
.main .safari {
    width: 100%;
    min-height: 45vh;
    position: relative;
    padding-top: 390px;
    background-image: url('../images/safari.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.main .safari .meters {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.crisis {
    position: absolute;
    top: 75px;
    z-index: 10;
    width: 100%;
    min-height: 5vh;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    opacity: 80%;
    font-weight: bold;
}
.rhino-img {
    width: 120px;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(6px 7px 3px #333333);
}
span.rhino-name {
    display: inline-block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #f4f0f5;
    text-transform: uppercase;
    filter: drop-shadow(6px 7px 3px #333333);
}
.meters .progress {
    height: 50px;
    background-color: white;
}
.population .progress {
    height: 25px;
}
.progress-bar {
    width: 100%;
    font-size: 20px;
    color: white;
}
.progress-bar.budget-bar {
    background-color: #30f351;
    font-size: 25px;
    color: black;
}

.population, .budget {
    position: relative;
    width: 100%;
}

.rhino-position {
    text-align: center;
}

/* Control Panel*/
.control-panel {
    margin-top: 70px;
}
.control-panel .col.action {
    margin: 5px auto;
}
.main .control-panel .action-btn {
    width: 100%;
    height: 120px;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    filter: drop-shadow(2px 3px 6px #555);
}

.main .control-panel .control-row {
    margin: 10px;
}

#endgame-modal .modal-dialog {
    max-width: 90vw;
}
#endgame-modal .modal-content {
    padding: 20px;
}

#endgame-modal .modal-header .modal-title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
}
#endgame-modal .modal-body p {
    margin-top: 30px;
    font-size: 25px;
}

#endgame-modal img {
    width: 100%;
}
#endgame-modal .btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
}
#endgame-modal .survior-name {
    font-weight: bold;
    color:#f16980;
    font-size: 35px;
}
#endgame-modal .more-than-one {
    font-weight: bold;
    color:#f16980;
    font-size: 35px;
}