header {
    width: 100%;
    background-color: orange;
    text-align: center;
    margin-bottom: 30px;
}
header .header-body {
    padding: 20px;
}
header p {
    color: black;
    text-transform: uppercase;
    font-size: 30px;
}

.main .game-wrapper {
    margin: 30px auto;
}

/* Safari Area */
.main .safari {
    width: 100%;
    min-height: 50vh;
    position: relative;
    background-image: url('../images/safari.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 355px;
}
.main .safari .meters {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid blue;
}
.crisis {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    min-height: 5vh;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.rhino-img {
    width: 120px;
    margin: 0 auto;
    display: block;
}
span.rhino-name {
    display: inline-block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #f4f0f5;
    text-transform: uppercase;
}
.meters .progress {
    height: 50px;
}
.progress-bar.budget-bar {
    background-color: #30f351;
}

.population, .budget {
    position: relative;
    width: 100%;
}

.rhino-row .col {
    /* border:1px solid pink; */
}

.rhino-position {
    text-align: center;
}

/* Control Panel*/
.main .control-panel .action-btn {
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
}

.main .control-panel .control-row {
    margin: 10px;
}